{
  "code": 80,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "endOfLine": "auto"
}
